body {
    background-color: rgb(43, 43, 43);
}
#movies {
    display:flex;
    justify-content: center; 
}
.cards {
    border-radius: 0.5rem;
    background-color: #ffffff81;
    color: rgb(0, 0, 0);
    flex-direction: column;
    border: 0;
}

.card-body{
    padding: 0.25rem;
    min-height: 5rem;
}

.btns {
    background-color: rgb(233, 92, 36);
}


