body {
    background-color: rgb(43, 43, 43);
}
#movies {
    display:flex;
    justify-content: center; 
}
.cards {
    padding-bottom: 1.0rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    flex-direction: column;    
    margin: 1rem;    
}

h1 {
    color: white;
}
